:root {
   --text-black: #000000;
   --text-white: #ffffff;
   --text-link: #352a0b;
   --background-1: #347fc4;
   --background-2: #989fce;
   --background-3: #7d6b91;
   --background-4: #5d536b;
   --background-5: #272838;
}

.avatar__name {
	padding-top: 30px;
	font-size: 20px;
	text-align: center;
	color: var(--text-black);
}

.navigation a,
.not-found-page a,
.custom__button {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 15px;
   color: var(--text-link);
   padding: 10px 15px;
   background: -moz-linear-gradient(top, #42aaff 0%, #003366);
   background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#42aaff),
      to(#003366)
   );
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   border-radius: 10px;
   border: 1px solid #003366;
   -moz-box-shadow: 0px 1px 3px rgba(000, 000, 000, 0.5),
      inset 0px 0px 1px rgba(255, 255, 255, 0.5);
   -webkit-box-shadow: 0px 1px 3px rgba(000, 000, 000, 0.5),
      inset 0px 0px 1px rgba(255, 255, 255, 0.5);
   box-shadow: 0px 1px 3px rgba(000, 000, 000, 0.5),
      inset 0px 0px 1px rgba(255, 255, 255, 0.5);
   text-shadow: 0px -1px 0px rgba(000, 000, 000, 0.7),
      0px 1px 0px rgba(255, 255, 255, 0.3);
   display: inline-block;
   text-decoration: none;
}

.navigation a:hover,
.not-found-page a:hover,
.custom__button {
   background: -moz-linear-gradient(top, #42aaff 0%, #0d5aa7);
   background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#42aaff),
      to(#0d5aa7)
   );
   text-decoration: none;
}

.navigation a:active,
.not-found-page a:active,
.custom__button {
   background: -moz-linear-gradient(top, #003366 0%, #42aaff);
   background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#003366),
      to(#42aaff)
   );
}

.app {
   background-color: var(--background-4);
   color: var(--text-black);
   height: 100%;
}

.buyers-group {
   display: flex;
   justify-content: center;
}

.buyersId {
   cursor: pointer;
   color: var(--text-white);
}

.buyersId:hover {
   cursor: pointer;
   color: burlywood;
   text-decoration: none;
}

.buyers-page {
   height: 100%;
   background-color: var(--background-5);
   color: var(--text-white);
}

.buyers-page__title {
   padding-top: 20px;
   text-align: center;
}

.buyers-page__search {
   display: block;
   text-align: center;
   margin: 10px auto;
   outline: none;
   cursor: pointer;
   border-radius: 5px;
   border-color: transparent;
}

.buyers-page__search:focus {
   outline: none;
}

button:focus {
   outline: none;
}

.custom__button {
   display: block;
   margin: 0 auto;
   background-color: var(--background-4);
}

.home-page {
   background-color: var(--background-2);
   color: var(--text-black);
   height: 100%;
}

.individual-buyer-page {
   height: 100%;
   background-color: var(--background-5);
}

.individual-buyer-page__title {
   padding-top: 20px;
   padding-bottom: 40px;
   text-align: center;
   color: var(--text-white);
}

.missing-buyer {
   width: 60%;
   margin: 30% auto 200%;
}

.navigation__item + .navigation__item {
   margin-top: 15px;
}

/* ------------------Not found page------------------ */
.not-found-page {
   display: flex;
   justify-content: center;
   align-items: center;
   background: var(--background-2);
   height: 100%;
}

.not-found-page__wrap {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
}

.not-found-page__logo h1 {
   font-size: 200px;
   color: var(--background-4);
   text-align: center;
   margin-bottom: 1px;
   text-shadow: 4px 4px 1px white;
}

.not-found-page__logo p {
   color: var(--background-4);
   font-size: 20px;
   margin-top: 1px;
   text-align: center;
}

.not-found-page__sub a {
   background: var(--background-1);
   color: var(--background-5);
   text-decoration: none;
   padding: 5px;
   font-size: 13px;
   font-family: arial, serif;
   font-weight: bold;
}

@media (max-width: 1024px) {
   .not-found-page__logo h1 {
      font-size: 170px;
      margin-top: 140px;
   }
   .not-found-page__wrap {
      width: 100%;
   }
}

@media (max-width: 991px) {
   .not-found-page__logo h1 {
      font-size: 150px;
   }
}

@media (max-width: 768px) {
   .copyright {
      color: var(--text-black);
      padding-bottom: 20px;
   }

   .not-found-page {
      display: -webkit-flex;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      padding: 0;
      margin: 0;
   }
   .not-found-page__logo h1 {
      margin-top: 0px;
   }
}

@media (max-width: 736px) {
   .not-found-page__logo h1 {
      font-size: 120px;
   }
}

@media (max-width: 600px) {
   .not-found-page__logo h1 {
      font-size: 100px;
   }
}

@media (max-width: 568px) {
   .not-found-page__logo p {
      font-size: 15px;
      margin-bottom: 5px;
      margin-top: 1px;
   }
}

@media (max-width: 480px) {
   .not-found-page__logo p {
      margin-bottom: 10px;
   }
}

@media (max-width: 320px) {
   .not-found-page__logo h1 {
      font-size: 90px;
   }
   .not-found-page__logo p {
      font-size: 14px;
      margin-top: 10px;
      margin-bottom: 15px;
   }
}

/* ------------------Not found page------------------ */

.pagination {
   justify-content: center;
}

.sidebar {
   display: flex;
   height: 100vh;
   position: sticky;
   top: 0;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   background-color: var(--background-1);
   color: var(--background-4);
}

.sidebar-content {
   display: flex;
   height: 100%;
   flex-direction: column;
   justify-content: space-between;
   padding: 30px 0;
   align-items: center;
}

.sign-in-page {
   display: flex;
   height: 100%;
   flex-wrap: wrap;
   justify-content: center;
   padding: 40px;
   background-color: var(--background-2);
}

.sign-in-page h1 {
   text-align: center;
   padding-top: 40px;
   padding-bottom: 40px;
   font-size: 2rem;
   color: var(--text-black);
}

.sign-in-page__form {
   width: 70%;
   padding-bottom: 100%;
}

.table-responsive {
   text-align: center;
}

.terminals-form {
   width: 70%;
   margin: 0 auto;
}

.terminals-table__td-with-button {
   display: flex;
   justify-content: space-around;
}

.terminals-table__button {
   padding: 5px 5px;
   line-height: 1;
   border-radius: 10px;
}

.terminals-page {
   background-color: var(--background-5);
   color: var(--text-white);
   height: 100%;
}

.terminals-page__title {
   padding: 20px;
   text-align: center;
   color: var(--text-white);
}

.terminals-table {
   width: 90%;
   margin: 0 auto 50px;
}

.toggle-button {
   display: none;
   background-color: transparent;
   border: none;
   outline: none;
   padding: 0;
   cursor: pointer;
}

.toggle-button::before,
.toggle-button::after {
   content: "";
   display: block;
   width: 24px;
   height: 2px;
   margin-bottom: 4px;
   background: #e0e0e0;
   transition: transform 0.3s;
}

.toggle-button--active::after {
   width: 24px;
   transform: translateY(-6px) rotate(-135deg);
}

.toggle-button--active::before {
   transform: translateY(6px) rotate(135deg);
}

.toggle-button--active .toggle-button-line {
   opacity: 0;
   transition: 0s;
}

.toggle-button-line {
   display: block;
   width: 24px;
   height: 2px;
   margin-bottom: 4px;
   background: #e0e0e0;
   opacity: 1;
   transition: 0.8s;
}

.table thead th {
   vertical-align: middle;
}

thead th {
   text-align: center;
   border-bottom: 2px solid black;
}

thead button {
   border: 0;
   border-radius: 5px;
   border-radius: none;
   font-family: inherit;
   font-weight: 700;
   font-size: inherit;
   padding: 0.5em;
   margin-bottom: 1px;
   color: var(--background-5);
}

thead button.ascending::after {
   content: "👇";
   display: inline-block;
   margin-left: 0.5em;
}

thead button.descending::after {
   content: "☝️";
   display: inline-block;
   margin-left: 0.5em;
}

tbody td {
   padding: 0.5em;
   border-bottom: 1px solid #ccc;
}

tbody tr:hover {
   background-color: #eee;
}

@media (max-width: 768px) {
   .individual-buyer-page {
      height: 100vh;
   }

   .navigation {
      margin-top: 10%;
      margin-bottom: 10%;
   }

   .sidebar {
      height: 100%;
      background-color: transparent;
   }

   .sidebar-content {
      display: none;
      padding: 0;
   }

   .sidebar-content.sidebar-content--open {
      display: flex;
   }

   .sign-in-page__form {
      padding-bottom: 100%;
   }

   .toggle-button {
      display: block;
      align-self: flex-end;
      margin-top: 15px;
      margin-right: 20px;
      margin-bottom: 5px;
   }
   .terminals-page {
      height: 100vh;
   }
}

@media (max-width: 1000px) {
   .sign-in-page__form-row {
      display: flex;
      flex-direction: column;
   }
   .sign-in-page__form-item {
      max-width: 100%;
   }
}
